.page[b-2omtemizm2] {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    min-width: 100%;
    background-color: #DDD;
}

main[b-2omtemizm2] {
    flex: 1;
}




@media (min-width: 641px) {
    .page[b-2omtemizm2] {
        flex-direction: row;
    }

    
}
