@page "/"
@inject NavigationManager NavigationManager
<PageTitle>Index</PageTitle>

<h1>Welcome!</h1>

<p>Welcome to password generator.</p>

<button class="btn btn-dark" @onclick="@(()=> NavigationManager.NavigateTo($"/passwordGenerator/{Length}"))"> Navigate to Key Page</button>

@code{
    public string Length = "25";
}